*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #024221;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: #024221d8;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 6rem;
}

main{
    height: 85%;
    text-align: center;
}

.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.boxs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
a{
    text-decoration: none;
}
.box{
    height: 5rem;
    width: 5rem;
    border: 2px solid var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    color: var(--primaryColor);
    
}

.box:hover{
    background-color: #02422147;
}

.date{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.date input{
    width: 12rem;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--primaryColor);
    border-radius: 0.4rem;
}

.date button, .finalButton{
    padding: 1rem 5rem;
    border-radius: 0.4rem;
    border: none;
    color: white;
    background-color: var(--primaryColor);
    cursor: pointer;
    transition: 0.5s;
}

.date button:hover, .finalButton:hover{
    background-color: #024221bc;
}

#err{
    display: none;
    color: red;
}

.time{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.boxs-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box-time{
    height: 2rem;
    width: 4rem;
    border: 2px solid var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.box-time:hover{
    background-color: #02422147;
}

.final{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}